{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .post-body img {
            width: 100%;
        }
    </style>

    <div class="container">
        <div class="row">
            <main class="post blog-post col-lg-8">
                <div class="container">
                    <div class="post-single">
                        <div class="post-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid">
                        </div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="category">
                                    {% for cat in post.categories.all %}
                                        <a href="#">{{ cat }}</a>
                                    {% endfor %}
                                </div>

                            </div>
                            <h1>{{ post.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                                                                                          class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..."
                                                         class="img-fluid"></div>
                                <div class="title"><span>{{ post.author.user.username }}</span></div>
                            </a>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }}</div>
                                    {% comment %}
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    {% endcomment %}
                                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments.count }}
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                {{ post.content|safe }}
                            </div>
                            <div class="post-comments">
                                <header>
                                    <h3 class="h6">Количество комментариев:<span class="no-of-comments">{{ post.comments.count }}</span></h3>
                                </header>
                                {% for comment in post.get_comments %}
                                    <div class="comment">
                                        <div class="comment-header d-flex justify-content-between">
                                            <div class="user d-flex align-items-center">
                                                {% if request.user.author %}
                                                    <div class="image"><img
                                                            src="{{ comment.user.author.profile_picture.url }}"
                                                            alt="..." class="img-fluid rounded-circle"></div>
                                                {% else %}
                                                    <div class="image"><img
                                                            src="{% static 'img/user.svg' %}"
                                                            alt="..." class="img-fluid rounded-circle"></div>


                                                {% endif %}
                                                <div class="title"><strong>{{ comment.user.username }}</strong><span
                                                        class="date">{{ comment.timestamp|timesince }} назад</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="add-comment">
                                    <header>
                                        <h3 class="h6">Оставьте отзыв</h3>
                                    </header>
                                    <form method="POST" action="." class="commenting-form">
                                        {% csrf_token %}

                                        <div class="row">
                                            {{ form.content }}

                                            <div class="form-group col-md-12">
                                                <button type="submit" class="btn btn-secondary">Отправить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
            {% include 'sidebar.html' %}
        </div>
    </div>

{% endblock %}